figure{
	margin: 0em;
	border: 1px silver solid;
	padding: 1em;
	max-width: 720px;
	border-radius: 0.5em;
	img{
		width: 100%;
		height: auto;
		border-radius: 0.25em;
	}
}
figcaption{
	line-height: 1em;
	padding: 0.5em 0 0;
	font-style: italic;
	font-size: 1.25em;
}